.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* responsitivy */
@media screen and ( max-width :768px){
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    width: 700px;
  }
  #lezioni,#steps,#why{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  h1{
    margin: 3rem 0;
  }
  .row{
    width: 80%;
    margin:3rem auto;
  }
  #steps .row>.right{
    width: 100%;
    margin: 3rem 0;
  }
  #lezioni .row>.left, #lezioni .row>.right,#steps .row>.left, #steps .row>.central{
    width: 50%;
  }

}
@media screen and ( max-width :420px){
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    display: flex;
    width: 600px;
  }
  .row{
    width: 90%;
    flex-wrap: wrap;
  }
  #lezioni,#why{
    background-color:#F2F2CD ;
    padding: 1rem 0;
  }
  #lezioni h1{
    padding-bottom: 1.5rem;
  }
  #lezioni .row>.left, #lezioni .row>.right{
    width: 100%;
    padding-bottom: 1rem;
  }
  #lezioni .row{
    margin-top: 0px;
  }
  #steps .row,#why .row{
    margin: 1rem auto;
  }
  #steps .row>.left, #steps .row>.central, #steps .row>.right{
    width: 100%;
  }
  #steps .left,#steps .central,#steps .right,#steps h1{
    padding-bottom: 1rem;
  }
  #why .row>.first, #why .row>.second, #why .row>.third{
    margin-top: 1rem;
  }
}

